	<!-- footer -->
	<div class="footer">
		<div class="footer-show">
			<div class="footer-logo"></div>
			<div class="footer-info">
				<div class="footer-name-img"></div>
				<div class="footer-company-name">芜湖大恒物流有限公司铜陵分公司</div>
				<div class="address">地址：安徽省芜湖市镜湖区长江南路26号  </div>
				<div class="phonenumber">    
					<span style="margin-right: 30px">联系电话：0553-5860890</span>
					<span>手机：13955350890</span>
				</div>
				<ul class="friend-link">           
					<li><a href="">物流吧</a></li>
					<li><span>/</span></li>
					<li><a href="">安徽企业网</a></li>
					<li><span>/</span></li>
					<li><a href="">徽商网</a></li>
					<li><span>/</span></li>
					<li><a href="">安徽门户</a></li>
					<li><span>/</span></li>
					<li><a href="">百度</a></li>
				</ul>

			</div>
		</div>
	</div>
	<div class="footer-bottom">
		<div class="footer-bottom-show">
			<div class="copy-right">Copyright © 2012 All Right Reserve 皖ICP备12001944号 </div>
		</div>
	</div>
	<!--END  footer -->

	<!-- 弹框 -->
	<div class="fixed-box">
		<div class="fixed-box-title">
			<span>在线咨询</span>
			<div class="close-icon"></div>
		</div>
		<div class="qq-box">
			<div class="qq-number">12121213233</div>
			<div class="qq-img">
				<img src="web/images/qq-img.png" alt="" title="">
			</div>
		</div>
		<div class="wechat-box"></div>
		<div class="tip">扫一扫&nbsp;关注我们</div>
	</div>


</body>
<script type="text/javascript" src="web/js/jquery.min.js"></script>
<script type="text/javascript" src="web/js/index.js"></script> 
<script type="text/javascript" src="web/js/jquery.dotdotdot.js"></script> 

<script type="text/javascript">  
$(document).ready(function() {
	// 多行文本省略号
    $(".A-U-company-info p").dotdotdot();
});
    
</script>  
</html>