	<!-- footer -->
	<div class="footer">
		<div class="footer-show">
			<div class="footer-logo"></div>
			<div class="footer-info">
				<div class="footer-name-img"></div>
				<div class="footer-company-name">芜湖大恒物流有限公司铜陵分公司</div>
				<div class="address">地址：安徽省芜湖市镜湖区长江南路26号  </div>
				<div class="phonenumber">
					<span >联系电话：0553-2960887 0553-2960885 0553-2960881  &nbsp;&nbsp;手机：13955350890</span><br/>
					<!--<span style="margin-right: 30px">联系电话：0553-2960885 </span>-->
					<!--<span>手机：13955350890</span>-->
				</div>
				<ul class="friend-link" style="width:490px;float:right;">           
					<li><a href="http://www.wuliuba.cc/" target="_blank">物流吧</a></li>
					<li><span>/</span></li>
					<li><a href="http://www.ahhome.com/" target="_blank">徽商网</a></li>
					<li><span>/</span></li>
					<li><a href="http://www.ahoah.com/" target="_blank">安徽门户</a></li>
					<li><span>/</span></li>
					<li><a href="http://www.rt-steel.com/" target="_blank">安徽瑞拓贸易有限公司</a></li>
					<li><span>/</span></li>
					<li><a href="http://www.baidu.com/" target="_blank">百度</a></li>
				</ul>

			</div>
		</div>
	</div>
	<div class="footer-bottom">
		<div class="footer-bottom-show">
			<div class="copy-right">Copyright © 2012 All Right Reserve 皖ICP备12001944号. 技术支持：<a href="http://www.zmit.cn/" class="zmitcn-url">中梦科技</a></div>
		</div>
	</div>
	<!--END  footer -->

	<!-- 弹框 -->
	<div class="fixed-box">
		<div class="fixed-box-title">
			<span>在线咨询</span>
			<div class="close-icon"></div>
		</div>
		<div class="qq-box">
			<div class="qq-number">
				<a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=420403213&site=qq&menu=yes">420403213</a>
			</div>
			<div class="qq-img">
			
				<img src="web/images/qq-img.png" alt="" title="">
			</div>
		</div>
		<div class="wechat-box"></div>
		<div class="tip">扫一扫&nbsp;关注我们</div>
	</div>

<script type="text/javascript">
var _mvq = window._mvq || []; 
window._mvq = _mvq;
_mvq.push(['$setAccount', 'm-114626-0']);
_mvq.push(['$setGeneral', '', '', /*用户名*/ '', /*用户id*/ '']);//如果不传用户名、用户id，此句可以删掉
_mvq.push(['$logConversion']);
(function() {
var mvl = document.createElement('script');
mvl.type = 'text/javascript'; mvl.async = true;
mvl.src = ('https:' == document.location.protocol ? 'https://static-ssl.mediav.com/mvl.js' : 'http://static.mediav.com/mvl.js');
var s = document.getElementsByTagName('script')[0];
s.parentNode.insertBefore(mvl, s); 
})();
</script>
</body>
<script type="text/javascript" src="web/js/index.js"></script> 
<script type="text/javascript" src="web/js/jquery.dotdotdot.js"></script> 

<script type="text/javascript">  
$(document).ready(function() {
	// 多行文本省略号
    $(".A-U-company-info p").dotdotdot();
    // $(".lxb-container").hide();
    // $(".lxb-container").css({
    // 	"position":"fixed",
    // 	"top":"56%"
    // })
});
    
</script>  
</html>