	{template "content","header"}
	<div class="main-content" style="z-index:11">
		<div class="main-content-back">
			<div class="main-content-show">
				
				<!-- about us -->
				<div class="about-us">
					<!-- about us -->
					<div class="about-us-sidebar">
						<div class="A-U-sidebar-title">
							<div class="english-title">ABOUT US</div>
							<div class="chinese-title">关于我们</div>
						</div>
						<p class="A-U-company">芜湖大恒物流有限公司（铜陵分公司）</p>
						<div class="A-U-company-info">
							<p>芜湖大恒物流有限公司成立于2006年元月，注册资本500万元人民币。本着一切为了客户，为了客户一切的服务理念为宗旨，奉行“诚实守信、安全准时”为准则，竭诚为广大客户提供安全、方便、快捷的物流服务。芜湖大恒物流有限公司铜陵分公司为芜湖大恒物流有限公司全资子公司，于2014年8月于2014年8月于2014年8月</p>
						</div>
						<div class="more" style="margin-top: 30px;">
							<div class="more-border">+</div>
							<a href="{$CATEGORYS[6][url]}">更多</a>
						</div>
					</div>
					<!--END about-us-sidebar -->

					<!-- 业务范围 -->
					<div class="about-us-box">
						<div class="A-U-range">
							<div class="A-U-range-title">
								<div class="blue-title">业务范围</div>
								<div class="english-title2">SCOPE OF BUSINESS</div>
							</div>
							<div class="A-U-range-content">

								<div class="wrap-list fl">
									<!-- 小件快运-->
									<a href="{$CATEGORYS[20][url]}">
										<div class="small-list fl">
											<span class="ky-icon"></span>
											<div class="list-name font-191919">{$CATEGORYS[20][catname]}</div>
										</div>
									</a>
									<!-- end 小件快运-->

									<!-- 大客户洽谈-->
									<a href="{$CATEGORYS[21][url]}">
										<div class="small-list fl ml40">
											<span class="ky-icon qt-icon"></span>
											<div class="list-name font-191919">{$CATEGORYS[21][catname]}</div>
										</div>
									</a>
									<!-- end 大客户洽谈-->
									<!-- 零担专线-->
									<a href="{$CATEGORYS[22][url]}">
										<div class="small-list fl ml40">
											<span class="ky-icon zx-icon"></span>
											<div class="list-name font-191919">{$CATEGORYS[22][catname]}</div>
										</div>
									</a>
									<!-- end 零担专线-->
									<!-- 整车调度-->
									<a href="{$CATEGORYS[23][url]}">
										<div class="small-list fl">
											<span class="ky-icon dd-icon"></span>
											<div class="list-name font-191919">{$CATEGORYS[23][catname]}</div>
										</div>
									</a>
									<!-- end 整车调度-->
									<!-- 木箱包装-->
									<a href="{$CATEGORYS[9][url]}">
										<div class="small-list fl ml40">
											<span class="ky-icon mx-icon"></span>
											<div class="list-name font-191919">货物包装</div>
										</div>
									</a>
									<!-- end 木箱包装-->
									<!-- 木架包装-->
									<a href="{$CATEGORYS[24][url]}">
										<div class="small-list fl ml40">
											<span class="ky-icon mj-icon"></span>
											<div class="list-name font-191919">{$CATEGORYS[24][catname]}</div>
										</div>
									</a>
									<!-- end 木架包装-->
								</div>

								<!--<div class="range-content-left">-->
									<!--<div class="A-U-range-list1">-->
										<!--<div class="range-list-icon">-->
											<!--<img src="web/images/range1.png" alt="" title="">-->
										<!--</div>-->
										<!--<div class="range-list-text">整车运输</div>-->
									<!--</div>-->
									<!--<div class="A-U-range-list2">-->
										<!--<div class="range-list-icon">-->
											<!--<img src="web/images/range2.png" alt="" title="">-->
										<!--</div>-->
										<!--<div class="range-list-text">零担配送</div>-->
									<!--</div>-->
									<!--<div class="A-U-range-list3">-->
										<!--<div class="range-list-icon">-->
											<!--<img src="web/images/range3.png" alt="" title="">-->
										<!--</div>-->
										<!--<div class="range-list-text">木箱木架包装</div>-->
									<!--</div>-->
								<!--</div>-->


								<!--<div class="range-content-right">-->
									<!--<div class="A-U-range-list1">-->
										<!--<div class="range-list-icon">-->
											<!--<img src="web/images/range4.png" alt="" title="">-->
										<!--</div>-->
										<!--<div class="range-list-text">仓储</div>-->
									<!--</div>-->
									<!--<div class="A-U-range-list2">-->
										<!--<div class="range-list-icon">-->
											<!--<img src="web/images/range5.png" alt="" title="">-->
										<!--</div>-->
										<!--<div class="range-list-text">大件吊装</div>-->
									<!--</div>-->
									<!--<div class="A-U-range-list3">-->
										<!--<div class="range-list-icon">-->
											<!--<img src="web/images/range6.png" alt="" title="">-->
										<!--</div>-->
										<!--<div class="range-list-text">设备包装方案设计与运输</div>-->
									<!--</div>-->
								<!--</div>-->

							</div>
						</div>
					</div>

					<!-- 轮播图 -->
					<div class="about-us-box">

						<!-- 车辆展示 -->
						<div class="cars-scroll-box">
							<!-- 按钮 -->
							<div class="scrollbtn-l-bg">
								<a href="javascript:;" class="scrollnewslbtn"></a>
							</div>
							<div class="scrollbtn-r-bg">
								<a href="javascript:;" class="scrollnewsrbtn"></a>
							</div>
							<!-- 滚动图片 -->
							<div class="cars-scroll-imgs">
							{pc:content action="lists" catid="8" num="10" order="listorder DESC, inputtime DESC"}
							{loop $data $r}
								<div class="cars-scroll-box-list">
									<a href="{$r[url]}">
										<img src="{thumb($r[thumb], 247, 225)}" alt="{$r[title]}" title="{$r[title]}" width="247px" height="225px">
									</a>
								</div>
							{/loop}
							{/pc}
							</div>
						</div>

						<!-- 中间 -->
						<div class="box-middle">
							<div class="cars-show ">
								<div class="cars-arrow"></div>
								<div class="cars-title">车辆展示</div>
							</div>
							<div class="wooden-show ">
								<div class="wooden-arrow"></div>
								<div class="wooden-title">木箱展示</div>
							</div>
						</div>
						<!-- 木箱展示 -->
						<div class="wooden-scroll-box">
							<!-- 按钮 -->
							<div class="scrollbtn-l-bg2">
								<a href="javascript:;" class="scrollnewslbtn"></a>
							</div>
							<div class="scrollbtn-r-bg2">
								<a href="javascript:;" class="scrollnewsrbtn"></a>
							</div>
							<!-- 滚动图片 -->
							<div class="wooden-scroll-imgs">
								{pc:content action="lists" catid="9" num="10" order="listorder DESC, inputtime DESC"}
								{loop $data $r}
								<div class="wooden-scroll-box-list">
									<a href="{$r[url]}">
										<img src="{thumb($r[thumb], 247, 225)}" alt="{$r[title]}" title="{$r[title]}" width="247px" height="225px">
									</a>
								</div>
								{/loop}
								{/pc}
							</div>
						</div>
						
					</div>
					<!--END 轮播图 -->

				</div>
				<!-- END about-us-sidebar -->

				<!-- 服务流程 -->
				<div class="content-box">
					
					<div class="service-content">
						
						<div class="service-icons">
							<div class="service-numbers">
								<img src="web/images/service1.png" alt="" title="">
							</div>
							<div class="service-line">
								<img src="web/images/service-line.png" alt="" title="">
							</div>
							<div class="service-numbers">
								<img src="web/images/service2.png" alt="" title="">
							</div>
							<div class="service-line">
								<img src="web/images/service-line.png" alt="" title="">
							</div>
							<div class="service-numbers">
								<img src="web/images/service3.png" alt="" title="">
							</div>
							<div class="service-line">
								<img src="web/images/service-line.png" alt="" title="">
							</div>
							<div class="service-numbers">
								<img src="web/images/service4.png" alt="" title="">
							</div>
							<div class="service-line">
								<img src="web/images/service-line.png" alt="" title="">
							</div>
							<div class="service-numbers">
								<img src="web/images/service5.png" alt="" title="">
							</div>
							<div class="service-line">
								<img src="web/images/service-line.png" alt="" title="">
							</div>
							<div class="service-numbers">
								<img src="web/images/service6.png" alt="" title="">
							</div>
						</div>
						<div class="service-steps">
							<div class="service-steps-list">
								<p>如果需要，则派业务员与贵公司洽谈，提供精确报价。</p>
							</div>
							<div class="service-steps-list">
								<p>如双方对议价无异议签订合同，确保贵公司权益不受侵害。</p>
							</div>
							<div class="service-steps-list">
								<p>依照客户要求对货物提货纸箱打包服务，此项服务须收取相应费用。</p>
							</div>
							<div class="service-steps-list">
								<p>运输当天派业务员到现场调度，确保货物安全起运。</p>
							</div>
							<div class="service-steps-list" style="margin-left: 5px">
								<p>运输途中有两名司机轮流驾驶，确保货物安全到达卸货地。</p>
							</div>
							<div class="service-steps-list" style="margin-left: 8px">
								<p>到货后由客户对货物进行验收、签收并传回清单此次运输宣告结束。</p>
							</div>
						</div>
						
					</div>
					<div class="service-right-siderbar service-arrow-left">
						<div class="sidebar-title">
							<div class="service-arrow"></div>
							<div class="english-title">SERVICE</div>
							<div class="chinese-title">服务流程</div>
						</div>
						<div class="more" style="margin-top: 60px;">
							<div class="more-border">+</div>
							<a>更多</a>
						</div>
					</div>
					
				</div>

				<!-- 大恒新闻 和 成功案例-->
				<div class="content-box">
					<!-- 大恒新闻 -->
					<div class="news-box">
						<div class="news-box-sidebar">
							<div class="sidebar-title">
								<div class="english-title">NEWS</div>
								<div class="chinese-title">大恒新闻</div>
							</div>
							<div class="more" style="margin-top: 60px;">
								<div class="more-border">+</div>
								<a href="{$CATEGORYS[7][url]}">更多</a>
							</div>
						</div>
						<div class="news-content">
							<ul style="margin-top:10px;">
							{pc:content action="lists" catid="7" num="7" order="listorder DESC, inputtime DESC"}
							{loop $data $r}
								<li class="news-lists">
									<div class="li-imgs"></div>
									<a href="{$r[url]}">{str_cut($r[title], 70)}</a>
									<sapn>[{date('Y-m-d', $r[inputtime])}]</sapn>
								</li>
							{/loop}
							{/pc}
							</ul>
						</div>
					</div>
					<!-- 成功案例 -->
					<div class="cases-box">
						<div class="cases-box-sidebar">
							<div class="sidebar-title">
								<div class="english-title">CASES</div>
								<div class="chinese-title">成功案例</div>
							</div>
							<div class="more" style="margin-top: 60px;">
								<div class="more-border">+</div>
								<a href="{$CATEGORYS[10][url]}">更多</a>
							</div>
						</div>
						<div class="cases-scroll-box">
							<!-- 按钮 -->
							<div class="scrollbtn-l-bg3">
								<a href="javascript:;" class="scrollnewslbtn"></a>
							</div>
							<div class="scrollbtn-r-bg3">
								<a href="javascript:;" class="scrollnewsrbtn"></a>
							</div>
							<!-- 滚动图片 -->
							<div class="cases-scroll-imgs">
							{pc:content action="lists" catid="10" num="10" order="listorder DESC, inputtime DESC"}
								{loop $data $r}
								<div class="cases-scroll-box-list">
									<a href="{$r[url]}">
										<img src="{thumb($r[thumb], 364, 255)}" alt="" title="" width="364px" height="255px">
									</a>
								</div>
								{/loop}
							{/pc}
							</div>
							
						</div>

					</div>
				</div>
				<!--END 大恒新闻 和 成功案例-->

			</div>
			<!--END main-content-show -->
		</div>
		<!--END main-content-back -->
	</div>
	{template "content","footer"}