{template "content","header"}
	<div class="show-main-con-wrap">
		 <div class="show-main-con w990">
		 	<div class="right-con-head-wrap"><!--bottom line-->
				<div class="right-con-head">
					<span><a href="{siteurl($siteid)}">首页</a></span>
					<span class="c-b0b0b0">&nbsp;>&nbsp;</span>
					<span>{$CAT[catname]}</span>
				</div>
			</div>
		 	<div class="show-main-content-wrap">
		 		<div class="show-main-content">
		 			<div class="page-contact-wrap">
		 				<h4>芜湖公司</h4>
		 				<div class="page-contact-mess-wrap">
			 				<ul>
			 					<li>零散业务(电 话)：0553-2960887、2960885 </li>
			 					<li>大宗业务(电 话)：0553-5860890、13955350890</li>
			 					<li>Q Q:    420403213</li>
			 					<li>邮 箱： luojunhai@whdhwl.com</li>
			 					<li>芜湖公司地址：安徽省芜湖市镜湖区长江南路26号（皖江雅居小区隔壁，钢材市场院内）</li>
			 				</ul>
		 				</div>
		 			</div>
		 			<div class="page-contact-wrap">
		 				<h4>铜陵分公司</h4>
		 				<div class="page-contact-mess-wrap">
			 				<ul>
			 					<li>电  话：0562-2651890</li>
			 					<li>手  机：18056211890</li>
			 					<li>铜陵公司地址：安徽省铜陵市狮子山区皖中南物流园（国际汽车城内）</li>
			 				</ul>
			 			</div>
		 			</div>
		 			<div class="page-contact-wrap">
		 				<h4>服务热线</h4>
		 				<div class="page-contact-mess-wrap">
			 				<div class="page-phone-wrap">
			 					<span class="page-phone-left">24小时统一服务热线</span>
			 					<span class="page-phone-right">400-600-1890</span>
			 				</div>
			 			</div>
		 			</div>
		 			<div class="page-map-wrap">
		 				<iframe width="586" height="378" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://j.map.baidu.com/sWDI3"></iframe>
		 			</div>

		 		</div>
		 	</div>
		 </div>
	</div>
{template "content","footer"}